  body {
        background:  linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(48, 48, 48, 1) 50%, rgba(97, 97, 97, 1) 100%);
        color: aliceblue;
        justify-items: center;
        align-items: center;
    }
    
    ol{
        padding: 20px;
        background-color: crimson;
        border-radius: 5px;
    }
    ol li{
        margin-left: 10px;
    }

    ul {
        background-color: aqua;
        color: black;
        border-radius: 10px;
        margin-left: 10px ;
        margin-right: 20px;
    }

    h1,h2,h3,h4,h5,h6{ 
        justify-self: center;
        padding: 5px;
        border-radius: 10px;
        background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
        outline: auto;
        outline-width: 10px;
        outline-style: inset;
        outline-color: gray;
    }